<div class="navbar">
    <div class="izquierda-derecha">
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a class="selected" routerLink="/home">HOME</a></li>
                    <li><a routerLink="/precios">POR QUÉ SOLAR</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/contacto">EMBAJADOR</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<carousel [cellsToShow]="1" [height]="resolucion" [autoplay]="true" [autoplayInterval]="3000" [loop]="true"
    [dots]="true">
    <div class="carousel-cell tips">
        <div class="fondo ">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>SIÉNTETE BIEN CON LO QUE IMPULSA TU VIDA.</h2>
                    <p>Clientes Reales. Resultados Reales</p>
                    <div class="divBoton">
                        <div routerLink="/registro" routerLink="/registro" class="boton">
                            <p>Ver las historias</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-cell tips">
        <div class="fondo3">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>RECUPERA TU POWUR</h2>
                    <p>Escribe tu código postal para ver por qué Powur es la mejor solución de energía solar para
                        hogares.</p>
                    <div class="divBoton">
                        <div routerLink="/registro" routerLink="/registro" class="boton">
                            <p>¡Comenzar!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-cell tips">
        <div class="fondo2">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>¿SABÍAS QUE LA ENERGÍA SOLAR TE PUEDE AHORRAR EN PROMEDIO $26,000 EN COSTOS DE ELECTRICIDAD A LO
                        LARGO DE 20 AÑOS?</h2>
                    <p>Click abajo para descubrir por qué y aprende las respuestas a tus preguntas más importantes sobre
                        energía solar.</p>
                    <div class="divBoton">
                        <div routerLink="/registro" routerLink="/registro" class="boton">
                            <p>¡Aprender Como!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</carousel>

<div class="providers">
    <div class="title">
        <h2>¿CÓMO RECUPERARÁS TU POWUR?</h2>
        <p>Powur ofrece soluciones de energía para el hogar que te permiten ahorrar dinero y reducir tu huella de
            carbono. ¿Qué harás con los resultados?</p>
    </div>

    <div class="pictures">
        <div class="card">
            <p class="subtitle">EST. CARBONO RETIRADO</p>
            <p>1.000.0000 +</p>
        </div>

        <div class="card2">
            <p class="subtitle">EST. AHORROS DE LOS CLIENTES DE POWUR</p>
            <p>1.000.0000 $</p>
        </div>

        <div class="card3">
            <p class="subtitle">EST. KHW PRODUCIDOS</p>
            <p>1.000.0000 KW/H</p>
        </div>

    </div>

</div>


<div class="cuadros">
    <div class="cuadro ">

    </div>
    <div class="cuadro2 ">
        <div class="title">
            <h2>DIFERENCIA POWUR</h2>
            <p>Tu solución para obtener energía confiable, limpia y de bajo costo en la que tu familia puede confiar.
            </p>
        </div>
        <br>
        <br>
        <p>- Financieramente seguro: respaldado por inversionstas y propiedad de miembros
        </p>
        <br>
        <br>
        <p>- Experimentados: más de 5,000 instalaciones exitosas
        </p>
        <br>
        <br>
        <p>- Hacer el bien haciendo el bien: B-Corp totalmente certificado</p>
        <br>
        <br>
        <p>- Validación: Inc.1000 empresa de más rápido crecimiento en América</p>
        <br>
        <br>
        <p>- Centrado en el impacto: el dinero de cada instalación se destina a preservar millones de acres de la selva
            amazónica</p>
        <br>
        <br>
        <p>- Récord: primera empresa solar en compensar el 100% de las emisiones del proceso de fabricación solar</p>
    </div>
    <div class="cuadro2 cuarto ">
        <div class="title">
            <h2>EL PROCESO POWUR</h2>
            <p>Es un proceso simple que solamente requiere tu factura de energía eléctrica para comenzar.
            </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">PASO 1</p>
            <p>- Recolectar tu factura de energía </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">PASO 2</p>
            <p>- Revisar una Propuesta Personalizada </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">PASO 3</p>
            <p>- Selecciona el Mejor Plan </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">PASO 4</p>
            <p>- Firma el Contrato </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">PASO 5</p>
            <p>- Comienza </p>
        </div>
        <br>
        <br>
    </div>
    <div class="cuadro3 tercero">

    </div>
    <div class="cuadro4">

    </div>
    <div class="cuadro2 ">
        <div class="title">
            <h2>LA PROMESA POWUR</h2>
            <p>Esto es lo que te prometemos
            </p>
        </div>
        <br>
        <br>
        <p>- Siempre proporcionaremos el mejor valor
        </p>
        <br>
        <br>
        <p>- Te trataremos como a nuestros amigos y familiares, porque lo eres
        </p>
        <br>
        <br>
        <p>- Brindaremos una diversidad de productos, servicios e ideas para entregar la mejor solución para TUS
            necesidades.</p>
        <br>
        <br>
        <p>- Nos comunicaremos contigo de manera honesta y abierta durante todo el proceso de instalación</p>
        <br>
        <br>
        <p>- Te apoyaremos después de la venta</p>
        <br>
        <br>
        <p>- Y si lo deseas, te invitamos a compartir la experiencia Powur con tus amigos y familiares, para ayudarnos a
            crear un planeta más limpio</p>
    </div>
</div>

<div class="data">
    <div class="fact">
        <p>"Powur permite a las personas agregar energía solar a los hogares sin costos iniciales"</p>
    </div>

    <div class="fact">
        <p>"Powur ocupa el puesto 938 en la lista Inc.5000 de empresas de más rápido crecimiento"</p>
    </div>


    <div class="fact">
        <p>"Powur proporciona energía limpia y confiable a costos significativamente más bajos"</p>
    </div>
</div>


<div class="mision">
    <div class="title">
        <h2>MILLONES DE RAZONES. UNA MISIÓN</h2>
        <p>Cada propietario tiene su propia razón por la que ha abandonado a su compañía de servicios públicos y se ha
            pasado a la energía solar. Escuche sus historias.</p>
    </div>

    <div class="pictures">
        <div class="card">
            <div class="card10">
                <h3>LA MEJOR FORMA</h3>
                <p>Descubra cómo Powur ayudó a estos empresarios hogareños a ahorrar dinero y vivir sus vidas.</p>
            </div>
        </div>

        <div class="card2">
            
            <div class="card10">
                <h3>ENERGÍA E INDEPENDENCIA</h3>
                <p>Vea cómo este cliente de Powur se independizó de su compañía de servicios públicos.</p>
            </div>
        </div>

        <div class="card3">
           
            <div class="card10">
                <h3>SERVICIOS EN LOS QUE CONFÍAS</h3>
                <p>Vean por qué los consultores de Powur van más allá de la norma.</p>
            </div>
        </div>

    </div>

</div>


<div class="ceo">
    <div class="pictures">
        <div class="card">
            <div class="card10">
                <h3>JUNTOS, ESTAMOS DEVOLVIENDO</h3>
                <p>Un mensaje del CEO de Powur</p>
            </div>
        </div>

    </div>

</div>





<div class="footer">
    <div class="terceraParte">
        <div class="centro">
            <p>© 202. All right reserved!</p>

        </div>
    </div>

</div>