<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a  routerLink="/">CASA</a></li>
                    <li><a class="selected" routerLink="/why">POR QUÉ SOLAR</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/embajador">EMBAJADOR</a></li>
                </ul>
            </div>
        </div>
        <div class="derecha">
            <input type="text" placeholder="Escribir Codigo Postal">
            <button (click)="algo()">Obtener Cotizacion</button>
        </div>
    </div>
</div>

<carousel [cellsToShow]="1" [height]="resolucion" [autoplay]="true" [autoplayInterval]="3000" [loop]="true"
    [arrows]="false">
    <div class="carousel-cell tips">
        <div class="fondo4 ">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>DESCUBRE CUÁNTO PUEDES AHORRAR CON $0 DE PAGO INICIAL SOLAR.</h2>
                    <p>SOLAR TRUST ENERGY proporciona energía más limpia y ecológica por menos. Ingresa tu código postal para
                        comenzar.</p>
                    <div class="divBoton">
                        <div routerLink="/registro" routerLink="/registro" class="boton">
                            <p>Cotización</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</carousel>

<div class="clients">
    <div class="title">
        <h2>CONOCE A NUESTROS CLIENTES</h2>
        <p>Estas son Nuestras Historias de SOLAR TRUST ENERGY. ¿Cuál es la Tuya?</p>
    </div>

    <div class="pictures">
        <div class="card">
            <div class="card10">
                <h3>La factura de energía de Juan se redujo $ 755 en un mes. ¿Cuanto vas a ahorrar tú?</h3>
            </div>


        </div>

        <div class="card2">
            <div class="card20">
                <h3>¿Por qué no hicimos esto antes? Podríamos habernos ido de vacaciones con el dinero que ahorramos".
                </h3>
            </div>


        </div>

    </div>

</div>


<carousel [cellsToShow]="1" [height]="resolucion" [autoplay]="true" [autoplayInterval]="3000" [loop]="true"
    [arrows]="false">
    <div class="carousel-cell tips">
        <div class="fondo5 ">

        </div>
    </div>
</carousel>

<div class="clients">
    <div class="title">
        <h2>MILLONES DE RAZONES. UNA MISIÓN</h2>
        <p>Cada propietario tiene su propia razón por la que ha abandonado a su compañía de servicios públicos y se ha
            pasado a la energía solar. Escuche sus historias.</p>
    </div>

    <div class="pictures">
        <div class="card1">
            <div class="card10">
                <h3>Voy a recuperar mi energía simplementa haciendo lo que es correcto</h3>
            </div>


        </div>

        <div class="card0">
            <div class="card20">
                <h3>Recuperar mi energía significa que tengo electricidad que es confiable</h3>
            </div>


        </div>

    </div>

</div>

<div class="how">
    <div class="title">
        <h2>¿CÓMO FUNCIONA?</h2>
        <p>Es simple, SOLAR TRUST ENERGY recolecta tu factura de servicios públicos para que podamos diseñar una propuesta de ahorro
            personalizada para tu hogar. Luego, programamos una consulta para revisar tus mejores opciones para ahorrar
            dinero.</p>
    </div>

    <div class="pictures">
        <div class="card">
            <p>RECOLECTAR FACTURA DE SERVICIOS PÚBLICOS</p>
        </div>

        <div class="card2">
            <p>REVISAR TU PROPUESTA</p>
        </div>

        <div class="card3">
            <p>SELECCIONAR LA MEJOR OPCIÓN</p>
        </div>

        <div class="card4">
            <p>
                COMENZAR</p>
        </div>

    </div>

</div>
<div class="footer">
    <div class="primeraParte">
        <div class="izquierda">
            <h3>SOLAR TRUST ENERGY</h3>

            <a routerLink="/why">POR QUÉ SOLAR</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/join">UNETE</a>
            <a routerLink="/embajadior">EMBAJADOR</a>

        </div>
        <div class="centro">
            <h3>CONTACTANOS</h3>

            <a href="#">1-866-SOLAR-ENERGY</a>

            <h3>EMAIL</h3>

            <a href="#">customercare@SOLAR TRUST ENERGY.com</a>

        </div>
        <div class="derecha">
            <h3>OBTENER COTIZACION</h3>
            <div class="form">
                <input type="text" placeholder="Escribir Codigo Postal">
                <button (click)="openModal()">Empezar Ahora</button>
            </div>
        </div>
    </div>
    <div class="terceraParte">
        <div class="centro">
            <p>© 2021. All right reserved!</p>

        </div>
    </div>

</div>
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p class="tituloModal">Felicitaciones, se encuentra en un área privilegiada para el ahorro de energía solar.</p>
        <div class="primeraParteModal">
            <p class="numero">1</p>
            <h3>¿A CUÁNTO ASCIENDE TU FACTURA DE LUZ TÍPICA?</h3>
            <input type="text" placeholder="$0" [(ngModel)]="cotiza.factura" >
        </div>
        <div class="segundaParteModal">
            <p class="numero">2</p>
            <h3>CUÉNTANOS MÁS SOBRE TI</h3>
            <div class="inputs">
                <div class="input">
                    <label>NOMBRE</label>
                    <input type="text" [(ngModel)]="cotiza.nombre">
                </div>
                <div class="input">
                    <label>APELLIDO</label>
                    <input type="text" [(ngModel)]="cotiza.apellido">
                </div>
            </div>
            <div class="inputs">
                <div class="input2">
                    <label>CALLE</label>
                    <input type="text" [(ngModel)]="cotiza.calle">
                </div>
                <div class="input3">
                    <label>UNIDAD</label>
                    <input type="text" [(ngModel)]="cotiza.unidad">
                </div>
            </div>
            <div class="inputs">
                <div class="input4">
                    <label>CIUDAD</label>
                    <input type="text" [(ngModel)]="cotiza.ciudad">
                </div>
                <div class="input3">
                    <label>ESTADO</label>
                    <input type="text" [(ngModel)]="cotiza.estado">
                </div>
                <div class="input3">
                    <label>CODIGO POSTAL</label>
                    <input type="text" [(ngModel)]="cotiza.codigopostal">
                </div>
            </div>

            <div class="inputs">
                <div class="input">
                    <label>TELEFONO</label>
                    <input type="text" [(ngModel)]="cotiza.telefono">
                </div>
                <div class="input">
                    <label>EMAIL</label>
                    <input type="text" [(ngModel)]="cotiza.correo">
                </div>
            </div>

            <button *ngIf=" cotiza.factura > 0 &&cotiza.nombre != ''  && cotiza.apellido != '' && cotiza.calle != '' && cotiza.unidad != '' && cotiza.ciudad != '' && cotiza.estado != '' && cotiza.codigopostal != ''  && cotiza.telefono.length >= 9 && cotiza.correo.includes('@') && cotiza.correo.includes('.com')" (click)="enviarCotizacion()"> Enviar Datos</button>
        </div>


    </div>
</div>