<div class="banner">
  <div class="textos">
    <h6>Lorem ipsum dolor</h6>
    <h2>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem ea,</h2>
  </div>
  <div class="Boton">
    Contact Us
  </div>

</div>
<div class="providers">
  <div class="title">
    <h2>WE PROVIDE ENERGY</h2>
    <p>To many clients like government, homes and offices</p>
  </div>

  <div class="pictures">
    <div class="card">

      <img class="img-responsive" src="assets/img/panel.jpg">
      <p class="subtitle">HOME PANELS</p>
      <p>We can install a super solar panel on your roof easy.</p>
    </div>

    <div class="card">
      <img class="img-responsive" src="assets/img/pistones.jpeg">
      <p class="subtitle">INDUSTRY POWER</p>
      <p>We offer industries to switch to alternative energy supply.</p>
    </div>

    <div class="card">
      <img class="img-responsive" src="assets/img/soldador.jpg">
      <p class="subtitle">CONSERVATION EQUIPMENT</p>
      <p>We develop tools that can significantly save your consumption level.</p>
    </div>

  </div>

</div>
<div class="banner2">
  <div class="textos">
    <h2>OUR ACTIVAX SAVES EVERGY</h2>
    <h6>Reduce your house heat, keep the windows closed.. Turn off lights and appliances when you are not using them,
      use energy-saving light bulbs.</h6>
  </div>
  <div class="Boton">
    About Us
  </div>

</div>

<div class="services">
  <div class="title">
    <h2>SERVICES WE PROVIDE</h2>
    <p>Our company makes alternative enegry available for every client, industry and business.</p>
  </div>

  <div class="pictures">
    <div class="card">

      <img class="img-responsive" src="assets/img/transporte.jpg">
      <p class="subtitle">TRANSPORTATION</p>
      <p>Free shipping of any product to any point on the map.</p>
    </div>

    <div class="card">
      <img class="img-responsive" src="assets/img/instalacion.jpg">
      <p class="subtitle">INSTALLATION</p>
      <p>Note that we have special terms of cooperation with big industries.</p>
    </div>

    <div class="card">
      <img class="img-responsive" src="assets/img/consulta.jpg">
      <p class="subtitle">CONSULTING</p>
      <p>Free shipping of any product to any point on the map.</p>
    </div>

    <div class="card">

      <img class="img-responsive" src="assets/img/reparacion.jpg">
      <p class="subtitle">PANEL REPAIR</p>
      <p>If you got a panel from a different company, we are able to fix it.</p>
    </div>

    <div class="card">
      <img class="img-responsive" src="assets/img/fundidora.jpg">
      <p class="subtitle">PRODUCTION</p>
      <p>We have own factory, where we create the best solar panels.</p>
    </div>

    <div class="card">
      <img class="img-responsive" src="assets/img/esmeril.jpg">
      <p class="subtitle">INDUSTRY </p>
      <p>We encourage other enterprises for further cooperation.</p>
    </div>

  </div>

</div>

<div class="divTitulo3 animado">
  <div class="title">
    <h2>Our prices</h2>
  </div>


  <div class="tarjetasPlanes2">
    <div class="personal">
      <h3>Equipment Costs</h3>
      <div class="precio">
        <h1>1000$</h1>
      </div>
      <div class="check">
        <p>Solar panels</p>
      </div>
      <div class="check">
        <p>Inverter</p>

      </div>
      <div class="check">
        <p>Mounting Hardware</p>

      </div>
      <div class="check">
        <p>Wiring</p>

      </div>
      <div class="divBoton">
        <div routerLink="/registro" class="boton">
          <p>BUY NOW</p>
        </div>
      </div>
    </div>

    <div class="personal">
      <h3>Installation And Permits</h3>
      <div class="precio">
        <h1>2000$</h1>
      </div>
      <div class="check">
        <p>Solar installation</p>
      </div>
      <div class="check">
        <p>Supply Chain</p>

      </div>
      <div class="check">
        <p>Permitting</p>

      </div>
      <div class="check">
        <p>Interconnection</p>
      </div>
      <div class="divBoton">
        <div routerLink="/registro" class="boton">
          <p>BUY NOW</p>

        </div>
      </div>
    </div>

    <div class="personal">
      <h3>Sales And Operational</h3>
      <div class="precio">
        <h1>3000$</h1>
      </div>
      <div class="check">
        <p>Monitoring and Maintenance</p>
      </div>
      <div class="check">
        <p>Repairs</p>

      </div>
      <div class="check">
        <p>Additional Operational</p>

      </div>
      <div class="check">
        <p>Overhead</p>

      </div>
      <div class="divBoton">
        <div routerLink="/registro" class="boton">
          <p>BUY NOW</p>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="data">

  <div class="fact">
    <p class="subtitle">1986</p>
    <p>Solar Installations</p>
  </div>

  <div class="fact">
    <p class="subtitle">18</p>
    <p>Company Branches</p>
  </div>


  <div class="fact">
    <p class="subtitle">24</p>
    <p>Solar Models</p>
  </div>

  <div class="fact">
    <p class="subtitle">10</p>
    <p>Years of Experience</p>
  </div>


</div>

<div class="formularioContacto">
  <div class="title">
    <h2>Contact Us</h2>
  </div>

  <div class="formulario">
    <div class="datos">
      <div class="cabezera">
        <div>
          <p>Send Message</p>
        </div>
      </div>
      <div class="datosPersonales">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Last Name">
      </div>
      <div class="datosPersonales">
        <input type="text" placeholder="Phone">
        <input type="email" placeholder="Email">
      </div>

      <div class="datosPersonales2">
        <textarea name="" placeholder="¿Can i help you?" id="" cols="30" rows="5"></textarea>
      </div>
      <div class="divBoton">
        <div class="boton">
          <p>Send</p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="divSlider animado">
  <div class="title">
    <h2>Our Clients</h2>
  </div>
  <div id="slider">
    <input type="radio" name="slider" id="slide1" checked>
    <input type="radio" name="slider" id="slide2">
    <input type="radio" name="slider" id="slide3">
    <input type="radio" name="slider" id="slide4">
    <div id="slides">
      <div id="overflow">
        <div class="inner">
          <div class="slide slide_1">
            <div class="slide-content">
              <img class="img-responsive" src="assets/img/user.png">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, facilis adipisci culpa
                laudantium, unde cumque, ad nisi officia similique animi ab eius ratione! Sapiente error nesciunt
                quibusdam, placeat consectetur optio.</p>
              <p class="autor"> Lorem ipsum dolor</p>
              
              <p class="autor"> Lorem ipsum dolor</p>
            </div>
          </div>
          <div class="slide slide_2">
            <div class="slide-content">
              <img class="img-responsive" src="assets/img/user.png">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, facilis adipisci culpa
                laudantium, unde cumque, ad nisi officia similique animi ab eius ratione! Sapiente error nesciunt
                quibusdam, placeat consectetur optio.</p>
              <p class="autor"> Lorem ipsum dolor</p>
            
              <p class="autor"> Lorem ipsum dolor</p>
            </div>
          </div>
          <div class="slide slide_3">
            <div class="slide-content">
              <img class="img-responsive" src="assets/img/user.png">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, facilis adipisci culpa
                laudantium, unde cumque, ad nisi officia similique animi ab eius ratione! Sapiente error nesciunt
                quibusdam, placeat consectetur optio.</p>
              <p class="autor"> Lorem ipsum dolor</p>
             
              <p class="autor"> Lorem ipsum dolor</p>
            </div>
          </div>
          <div class="slide slide_4">
            <div class="slide-content">
              <img class="img-responsive" src="assets/img/user.png">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis, facilis adipisci culpa
                laudantium, unde cumque, ad nisi officia similique animi ab eius ratione! Sapiente error nesciunt
                quibusdam, placeat consectetur optio.</p>
              <p class="autor"> Lorem ipsum dolor</p>
             
              <p class="autor"> Lorem ipsum dolor</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="controls">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
    </div>
    <div id="bullets">
      <label for="slide1"></label>
      <label for="slide2"></label>
      <label for="slide3"></label>
      <label for="slide4"></label>
    </div>
  </div>
</div>


<div class="footer">
  <div class="primeraParte">
      <div class="izquierda">
          <div class="social">
              <a href="https://es-la.facebook.com/docX360/">
                  <img class="img-responsive" src="assets/img/facebook.png">
              </a>
          </div>
          <div class="social">
              <a href="https://www.youtube.com/channel/UCsdZEPQpKadAgtgVHv0k1hw">
                  <img class="img-responsive" src="assets/img/youtube.png">
              </a>
          </div>

      </div>
      <div class="centro">
      </div>
      <div class="derecha">
          <div class="social">
              <img class="img-responsive" src="assets/img/Paypal.png">
          </div>
          <div class="social">
              <img class="img-responsive" src="assets/img/Visa.png">
          </div>
          <div class="social">
              <img class="img-responsive" src="assets/img/American_Express.png">
          </div>
      </div>
  </div>
  <div class="segundaParte">
      <div class="centro">
          <div class="social">
                  <img class="img-responsive" src="assets/img/mail2.png">
                  <a href="mailto:sos@docx360.com ">Email</a>
                  <a href="mailto:sos@docx360.com ">xxxxx@gmail.com</a>
          </div>
          <div class="social">
                  <img class="img-responsive" src="assets/img/facebook2.png">
                  <a  href="https://es-la.facebook.com/docX360/" target="_blank">Facebook</a>
                  <a  href="https://es-la.facebook.com/docX360/" target="_blank">xxxxxxx</a>

          </div>
          <div class="social">
  
                  <img class="img-responsive" src="assets/img/phone2.png">
                  <a href="tel:+55 5308 1018" >Phone</a>
                  <a href="tel:+55 5308 1018">+1 xxx-xxxxxxx</a>
          </div>

      </div>
  </div>
  <div class="terceraParte">
      <div class="centro">
          <p>© 202. All right reserved!</p>

      </div>
  </div>

</div>