<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a  routerLink="/">HOME</a></li>
                    <li><a  routerLink="/why">POR QUÉ SOLAR</a></li>
                    <li><a class="selected"routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/embajador">EMBAJADOR</a></li>
                </ul>
            </div>
        </div>
        <div class="derecha">
            <input type="text" placeholder="Escribir Codigo Postal">
            <button (click)="algo()">Obtener Cotizacion</button>
        </div>
    </div>
</div>


<carousel [cellsToShow]="1" [height]="resolucion" [autoplay]="true" [autoplayInterval]="3000" [loop]="true"
    [arrows]="false">
    <div class="carousel-cell tips">
        <div class="fondo6 ">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>PREGUNTAS FRECUENTES SOBRE SOLAR TRUST ENERGY SOLAR</h2>
                    <p>Conoce las respuestas a las preguntas más importantes sobre energía solar por parte del CEO de
                        SOLAR TRUST ENERGY, Jonathan Budd.</p>
                    <div class="divBoton">
                        <div routerLink="/registro" routerLink="/registro" class="boton">
                            <p>Comenzar</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</carousel>

<div class="faqs">
    <div class="title">
        <h2>The Ultimate Solar FAQ</h2>
    </div>

    <div class="question">
        <h2>¿Qué es la medición neta?</h2>

        <p>La medición neta es la política que realmente permite que tu energía solar funcione para ti. En la mayoría de
            los
            estados de EE.UU., hay una política que dice que por cada kilovatio hora que pongas en la red, recibirás un
            crédito por ese kilovatio hora. Así que, si tu sistema solar produce 10 kilovatios hora de energía, y pone
            esos
            10 kilovatios hora en la red, eso es 10 kilovatios hora que vas a recuperar. Eso es lo que es la medición
            neta.
        </p>
        <br>
        <p>Esto es realmente importante porque tu sistema solar produce energía durante el día, pero tú también utilizas
            energía durante la noche. Cómo funciona es que, durante el día, pones mucha energía en la red, y va "a
            cuenta"
            para ser utilizada más tarde cuando no estás produciendo electricidad. Así que estás bancando todos esos
            créditos. Luego, por la noche (o en un día nublado), sacas esa energía de la red y usas todos los créditos
            que
            acumulaste.</p>
        <br>
        <p>Eso es medición neta. Es una política increíble. Una por la que todos como consumidores y defensores de las
            energías limpias tenemos que seguir luchando. Ha permitido que la energía solar se desarrolle tanto y, en
            efecto, le da la capacidad de utilizar la red como su propia batería, reduciendo el costo de la electricidad
            para usted y su familia.</p>
            <br>
    </div>

    <div class="question">
        <h2>¿Qué es el Crédito Tributario por Inversión Solar?</h2>

        <p>El Crédito Tributario por Inversión Solar (también conocido como ITC) es realmente muy simple. Cuando te
            cambias a energía solar, el gobierno federal te da un reembolso de tus impuestos por la cantidad del 26% del
            valor de tu sistema solar. Ahora, ten en cuenta que el crédito fiscal está programado para reducirse en los
            próximos años. Así que si bien es del 26% en 2021, es probable que sea menor en los próximos años. Es por
            eso que los clientes que están listos para ir a la energía solar deberían hacerlo mientras maximizan el
            crédito fiscal.
        </p>
        <br>
        <p>El ITC es una gran parte de la propuesta de valor de la energía solar. Por ejemplo, si te cambias a energía
            solar y financias (o compras con efectivo) tu sistema por $ 30,000, podrás conservar el 26% de ese sistema
            solar de $ 30,000. Y si financias tu sistema, obtienes este beneficio sin pagar dinero por el sistema.</p>
        <br>
        <p>Cuando presentes tus impuestos al final del año, vas a incluir el costo de tu sistema solar, y el gobierno
            simplemente te va a enviar un cheque de vuelta por esa cantidad (o restarlo de tu responsabilidad fiscal
            existente). Es por eso que vas a querer cambiarte energía solar hoy y aprovechar los generosos subsidios
            federales que nosotros como consumidores tenemos para apoyar la energía limpia y ahorrar dinero.</p>
            <br>
    </div>

    <div class="question">
        <h2>¿Cómo funcionan las garantías solares?</h2>

        <p>Una de las preguntas más comunes que hacen nuestros clientes es ¿cómo funciona una garantía solar? Hay tres
            tipos de garantías solares:
        </p>
        <br>
        <p>El primer tipo de garantía está en los paneles. Cuando compras un sistema solar para la energía eléctrica,
            esos paneles normalmente están garantizados durante 25 años. Lo que eso significa es que están garantizados
            para trabajar durante 25 años y seguir produciendo energía. Ahora, dependiendo del panel que compres, esa
            garantía de producción podría ser en cualquier lugar desde el 85% de la potencia que estaban produciendo el
            primer día, hasta el 92% si optas por un panel premium de mayor eficiencia.</p>
        <br>
        <p>El segundo tipo de garantía está en su inversor, que es el componente de tu sistema que transforma la energía
            que obtiene directamente del sol en corriente de CA utilizable que realmente puede alimentar tu hogar:
            encender tus luces, encender tu aire acondicionado, ayudarte a ver la televisión y todas esas cosas buenas.
            Tu inversor está garantizado en cualquier lugar de 12 a 25 años. Y muchas veces también incluiremos una
            opción extendida durante 30 años, lo que realmente lo convierte en una completa obviedad.</p>
        <br>
        <p>Ahora la tercera parte de la garantía cubre lo que se llama la mano de obra. Nuestra garantía de mano de obra
            es por 10 años. Eso significa todo el trabajo que hacemos en tu casa cuando estamos instalando tu sistema
            solar, cuando estamos en tu techo mientras estás trabajando, cuando estamos trabajando dentro de tu panel
            eléctrico. Todo ese trabajo está garantizado durante 10 años para asegurarnos de que no hay absolutamente
            ningún problema.</p>
        <br>
        <p>25 años en los paneles, 12 a 30 años en el inversor, 10 años en la garantía de mano de obra. Verdaderamente,
            te tenemos cubierto cuando se trata de proteger tu inversión solar y asegurarnos de que te proporciona valor
            a largo plazo.</p>
            <br>
    </div>

    <div class="question">
        <h2>¿Cuál es la misión de SOLAR TRUST ENERGY?</h2>

        <p>Entonces, ¿cómo devuelve el poder? Ese es el propósito de nuestra compañía. Cuando nuestro fundador, Jonathan
            Budd tenía 26 años, fue a la selva amazónica, porque quería cambiar su vida y encontrar una carrera que
            tuviera sentido y propósito, para realmente hacer algo diferente. Después de su experiencia en la selva
            tropical, Jonathan regresó y decidió dedicar su vida a la energía solar y la energía sostenible.
        </p>
        <br>
        <p>Así que los orígenes mismos de nuestra compañía están arraigados en cómo hacemos una diferencia en esta
            Tierra. Así que SOLAR TRUST ENERGY se incorporó como una corporación de beneficios públicos, lo que significa que tenemos
            una iniciativa legal en nuestros estatutos corporativos para realmente hacer el bien para el medio ambiente
            y para la sociedad. Así que eso es importante para nosotros.</p>
        <br>
        <p>Una de las maneras en que respaldamos eso es que creamos un programa de compensación de carbono en toda la
            empresa. Puedes visitar nuestra página de compensación de carbono y ver todos los proyectos que financiamos
            y todas las cosas que hacemos para compensar las emisiones que crea nuestro equipo. Pero lo llevamos un paso
            más allá. Nos convertimos en la primera empresa solar en la historia en compensar también las emisiones de
            toda la fabricación de equipos solares.</p>
        <br>
        <p>La energía solar es algo increíble. Cada instalación produce energía limpia durante 30-40 años. Pero el
            proceso industrial es un poco desordenado, y una gran cantidad de energía sucia se utiliza para hacer todo
            este equipo. Así que decidimos sacar el dinero de nuestras propias ganancias, básicamente, para eliminar
            todo eso.</p>
        <br>
        <p>Lo logramos plantando nuevos bosques en todo el mundo. Hacemos proyectos de captura de carbono en Colorado y
            Brasil. Compramos cookstoves en Uganda - en lugar de personas que usan combustibles sucios viejos como
            queroseno, les damos nuevos tipos de tecnología.</p>
        <br>
        <p>Puede ir a nuestro libro mayor de compensación de carbono y ver todas nuestras iniciativas. Además, decidimos
            financiar nuestro negocio para que también pudiera ser propiedad de la gente. Así que somos propiedad de
            casi 1000 de nuestros propietarios, consultores de energía y empleados, lo que hace de esta una empresa
            propiedad de la gente. Es para la gente, y realmente, con el propósito de marcar la diferencia.</p>
            <br>
    </div>

    <div class="question">
        <h2>¿Solar es una buena inversión para mi familia?</h2>

        <p>Está bien documentado que la energía solar aumenta el valor de tu hogar. La razón de esto es que es una
            inversión en la vivienda que realmente produce ingresos. Un sistema solar se sienta en su techo y genera
            electricidad, y hay un valor por cada kilovatio de electricidad que produce tu sistema.
        </p>
        <br>
        <p>De hecho, cada KW que produces es un KW que no tienes que comprar a tu compañía eléctrica. Además, el valor
            futuro de todos esos ahorros es valioso para el próximo comprador de tu casa.</p>
        <br>
        <p>Otra razón increíble para ir a la energía solar hoy - obtener los beneficios económicos hoy, y obtener más
            por la venta de tu casa mañana.</p>
            <br>
    </div>


    <div class="question">
        <h2>¿Cómo sé si mi hogar es apto para la energía solar?</h2>

        <p>No todos los hogares son elegibles para la energía solar, así que cruza los dedos. Esperemos que seas uno de
            los afortunados, y puedas ahorrar dinero. Hay tres factores principales:
        </p>
        <br>
        <p>El número uno se llama "exposición al sol" - ¿tu techo (o la ubicación de tus paneles solares) tiene
            suficiente acceso al sol? Una de las cosas que haremos es analizar tu exposición al sol a partir de imágenes
            satelitales y otra tecnología para asegurarnos de que tiene lo que se llama "acceso solar adecuado". Hay un
            porcentaje que estamos buscando que, mientras tengas eso, estás listo para cambiarte a energía solar.</p>
        <br>
        <p>El número dos es la orientación. ¿A qué dirección estarían orientados tus paneles? Lo ideal es que queramos
            los paneles orientados al sur o al oeste, ya que es donde más sol golpea. Así que estás buscando la
            exposición al sol correcta, estás buscando la orientación correcta.</p>
        <br>
        <p>Y luego sólo está el número tres. ¿Hay algún problema estructural con tu casa o techo que haría difícil
            montar paneles solares? Y si resulta que no es apropiado para energía solar, no pasa nada, ahora estás
            educado respecto a energía solar y sabes que es lo que es. Pero esa es la razón por la que te animo a que te
            pongas en contacto con nosotros y recibas una propuesta sin costo para que podamos hacer el trabajo duro de
            analizar tu propiedad y mostrarte exactamente cuánto dinero puedes ahorrar yendo a la energía solar.</p>
            <br>
    </div>

    <div class="question">
        <h2>¿Crees que Solar es demasiado caro?</h2>

        <p>Una de las mayores preguntas que todo el mundo tiene sobre la energía solar es "¿Cómo pago por ella?" La
            vieja idea errónea era que en realidad se necesitó dinero para cambiarse a energía solar. La gente pensaba,
            bueno, la energía solar es cara, porque tengo que gastar este dinero por adelantado. Eso no podría estar más
            lejos de la verdad.
        </p>
        <br>
        <p>Hoy en día, de hecho, la energía solar es la opción menos costosa para obtener energía en la mayoría de los
            Estados Unidos. Y con bajas tasas de interés y muchos programas financieros, por lo general es fácil para la
            mayoría de los propietarios obtener financiamiento con un anticipo de cero. Hay dos maneras principales de
            financiar tu sistema solar hoy en día: con un préstamo de tasas de interés bajas o un contrato de
            arrendamiento. Hablemos de ambas opciones.</p>
        <br>
        <p>Un préstamo con anticipo de cero significa que puedes elegir un plazo de préstamo, ya sea cinco años, 10
            años, 15 años, 20 años o 25 años. Ofrecemos todos ellos, y los ofrecemos a las tasas más competitivas
            posibles. Ahora, cuando te cambias a energía solar con un préstamo con anticipo de cero, lo que eso
            significa es, tu financias el sistema a través de tu proveedor de préstamos, y en lugar de pagar una factura
            mensual a tu compañía de servicios públicos, simplemente haces un pago mensual menos costoso a tu proveedor
            de préstamos. Así que puedes quedarte con la diferencia.</p>
        <br>
        <p>Si, por alguna razón, una persona no puede obtener un préstamo, a menudo elegirá un contrato de
            arrendamiento. Esto puede deberse a que no tienen una responsabilidad fiscal y no pueden recibir el crédito
            fiscal. Un contrato de arrendamiento es exactamente como suena - cada mes, harás un pago de arrendamiento. Y
            lo pagarás normalmente por más de 20 años. Es así de simple. Tu pago de arrendamiento va a ser menor que lo
            que normalmente pagabas por tu factura de servicios públicos, lo que significa que estás ahorrando dinero
            cada mes.</p>
        <br>
        <p>Te ayudaremos a averiguar lo que es mejor para ti. Cuando recibas una propuesta nuestra, nuestros consultores
            se sentarán contigo. Te mostrarán todas las diferentes opciones y te ayudarán a decidir qué es lo mejor para
            ti. Te mostrarán cuánto dinero puedes ahorrar con SOLAR TRUST ENERGY y vamos a hacer lo humanamente posible para que sea
            lo más fácil de entender y tomes tu decisión.</p>
            <br>
    </div>

    <div class="question">
        <h2>¿Qué implica ir a la energía solar?</h2>

        <p>Entonces, ¿qué pasa cuando firmas un acuerdo para cambiarte a energía solar? En realidad, ¡el acuerdo es la
            parte más difícil! Una vez que firmes tu acuerdo, nosotros hacemos el resto. Te asignaremos un Gerente de
            Proyecto dedicado que te mantendrá informado a lo largo de cada paso de tu proyecto.
        </p>
        <br>
        <p>En primer lugar, programaremos su encuesta de sitio. A continuación, creamos el diseño que se envía a la
            ciudad para recibir un permiso de construcción. Una vez recibido el permiso, programamos su instalación, que
            normalmente tarda de 1 a 3 días dependiendo del tamaño de tu sistema. Una vez que terminemos de instalar el
            sistema solar en tu casa, programamos al inspector de la ciudad y/o a su empresa de servicios públicos para
            que apruebe la instalación y te dé lo que se llama "permiso para operar", o PTO. Una vez que tengas el PTO,
            encendemos tu sistema y podrás disfrutar de energía limpia para tu hogar a partir del sol. Todo el proceso
            normalmente toma 30-60 días. Aunque gran parte de ese tiempo es simplemente esperar permisos, inspectores y
            similares.</p>
            <br>
    </div>

    <div class="question">
        <h2>¿Necesito comprar una batería?</h2>

        <p>Hay dos maneras principales en que los propietarios se benefician de poseer una batería:
        </p>
        <br>
        <p>En primer lugar, puedes utilizar la batería para respaldo de energía. Si la red se cae, todavía estás
            cubierto. Si ocurre un desastre, si hay un huracán en tu área, o un incendio, o cualquiera de las cosas que
            todos estamos lidiando ahora, de manera cada vez más común, tener una batería te permitirá seguir teniendo
            electricidad en tu casa, incluso si tu compañía de servicios públicos no puede proporcionarla.</p>
        <br>
        <p>La segunda razón es que a menudo se puede ahorrar dinero mediante la obtención de una batería si vives en una
            región con estructuras tarifarias específicas donde te beneficiarías del uso de energía almacenada de la
            batería durante los momentos más caros del día. En muchas regiones, la política de medición neta te permite
            ahorrar dinero sin la necesidad de la batería, a menos que desees la tranquilidad que proviene de saber que
            tu hogar puede proporcionar electricidad incluso cuando tu compañía de servicios públicos no puede. Pídele
            más información a tu consultor de SOLAR TRUST ENERGY. Ellos serán capaces de darte una propuesta detallada de exactamente
            cuánto costará un sistema con una batería si estás interesado en uno. Trabajamos con todos los mayores
            fabricantes de baterías y podemos asegurarnos absolutamente de que te cuiden, sea cual sea la mejor manera
            para ti.</p>
            <br>
    </div>

    <div class="question">
        <h2>Dos opciones para comprar energía</h2>

        <p>Así que hablemos de tus opciones. En realidad, cuando se trata de tu futuro con energía, sólo tienes dos
            opciones.
        </p>
        <br>
        <p>Número uno es te cambias a energía solar, eliges tomar el control de tu energía, recuperar tu energía, gastar
            menos por energía solar y la energía que necesitas para tu hogar de lo que cuesta actualmente obtener eso de
            tu compañía de servicios públicos, aumentar el valor de tu hogar, ser independiente de la energía y hacer lo
            correcto para nuestro medio ambiente. Por el amor de Dios, el sol no causa contaminación, ¿verdad? Así que
            dejemos de contaminar nuestro aire, nuestra tierra, nuestro agua, y empecemos a alimentar nuestras vidas de
            una manera en la que como estadounidenses realmente podamos estar orgullosos. Estamos haciendo lo correcto.
            Nos ocupamos de las generaciones futuras. Y cuando la historia mire hacia atrás en las acciones que tomamos,
            sabrán que hicimos lo correcto. Así que esa es la opción número uno.</p>
        <br>
        <p>Con poder, lo hacemos increíblemente simple para ti. Financiación con pago inicial cero, manejando todo el
            proyecto de principio a fin. No hay nada de lo que tengas que preocuparte, nos encargaremos de ello por ti.
        </p>
        <br>
        <p>La opción número dos es que no hagas nada. Quédate con tu compañía de servicios públicos. Y ya sabes lo que
            es eso. Sí, tus luces probablemente se encenderán a menos que haya un gran apagón o algo así. Pero vas a
            gastar mucho más por esa energía. Y vas a seguir pagando servicios públicos cada mes, mes tras mes hasta el
            día en que mueras.</p>
        <br>
        <p>Piénsalo. ¿Nunca vas a necesitar energía? A menos que estés planeando mudarte a una cabaña en el bosque, vas
            a gastar dinero con tu compañía de servicios públicos. Entonces, ¿por qué no cambiarse a energía solar,
            hacerlo por menos y producir tu propia energía? Y por cierto, una vez que se concluye el pago del préstamo,
            cuando usas una opción de financiamiento con pago inicial cero, no hay más pagos, solo tienes energía
            gratis. Imagínate si no estuvieras gastando nada mensualmente por energía.</p>
        <br>
        <p>Ahí es donde puedes llegar con la energía solar en lugar de quedarte atrapado en un contrato de por vida y
            caro para siempre con una compañía que probablemente ni siquiera te guste, sé honesto. ¿Te gusta tu compañía
            de servicios públicos? ¿Sientes que te están cuidando? ¿Te están apoyando? Bueno, puedo decirte que nuestro
            objetivo sincero es servirte.</p>
        <br>
        <p>Queremos ser un mejor proveedor de energía. Queremos ahorrarte dinero. Queremos ayudarte a sentirte orgulloso
            de cómo alimentar tu hogar. Y queremos conseguirte todo el mejor equipo, la mejor tecnología para prepararte
            para el futuro. Así que esas son tus dos opciones. Y te dejo a ti elegir. Pero espero verdadera y
            sinceramente que te cambies a energía solar con SOLAR TRUST ENERGY. Permítenos ayudarte a ahorrar dinero y acelerar un
            futuro energético sostenible para la humanidad.</p>
    </div>



</div>



<div class="footer">
    <div class="primeraParte">
        <div class="izquierda">
            <h3>SOLAR TRUST ENERGY</h3>

            <a routerLink="/why">POR QUÉ SOLAR</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/embajadior">EMBAJADOR</a>

        </div>
        <div class="centro">
            <h3>CONTACTANOS</h3>

            <a href="#">1-866-SOLAR-ENERGY</a>

            <h3>EMAIL</h3>

            <a href="#">customercare@powur.com</a>

        </div>
        <div class="derecha">
            <h3>OBTENER COTIZACION</h3>
            <div class="form">
                <input type="text" placeholder="Escribir Codigo Postal">
                <button (click)="algo()">Empezar Ahora</button>
            </div>
        </div>
    </div>
    <div class="terceraParte">
        <div class="centro">
            <p>© 2021. All right reserved!</p>

        </div>
    </div>

</div>