<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">CASA</a></li>
                    <li><a routerLink="/why">POR QUÉ SOLAR</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a routerLink="/embajador">EMBAJADOR</a></li>
                </ul>
            </div>
        </div>
        <div class="derecha">
            <input type="text" placeholder="Escribir Codigo Postal">
            <button id="myBtn" (click)="openModal()">Obtener Cotizacion</button>
        </div>
    </div>
</div>

<div height="1000">
    <div class="carousel-cell tips">
        <div class="fondo8 ">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>RECUPERA TU SOLAR TRUST ENERGY</h2>
                    <p>Vean por qué los mejores profesionales de la energía solar están construyendo su futuro con SOLAR
                        TRUST ENERGY
                    </p>
                    <div class="divBoton">
                        <div (click)="openModal2()" class="boton">
                            <p>Unete Ahora</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="cuadros">
    <div class="cuadro100 ">

    </div>
    <div class="cuadro2 ">
        <div class="title">
            <h2>CONFIANZA Y TRANSPARENCIA</h2>
            <p>Maximiza tu potencial
            </p>
        </div>
        <br>
        <br>
        <p>El modelo revolucionario de SOLAR TRUST ENERGY te brinda total transparencia sobre el costo de cada proyecto solar que
            vendes y una comisión líder en la industria.</p>
    </div>
    <div class="cuadro2 cuarto ">
        <div class="title">
            <h2>REMOTO Y FLEXIBLE</h2>
            <p>Trabajar en Cualquier Lugar
            </p>
        </div>
        <br>
        <p>SOLAR TRUST ENERGY es la primera empresa de energía solar virtual del mundo. Nuestra plataforma te permite trabajar donde
            quieras, cuando quieras y con el apoyo que necesitas para cumplir tus proyectos con calidad y rapidez
            líderes en la industria.</p>
        <br>
    </div>
    <div class="cuadro101 tercero">

    </div>
    <div class="cuadro102">

    </div>
    <div class="cuadro2 quinto ">
        <div class="title">
            <h2>MODELO SUSTENTABLE</h2>
            <p>Generar Ingreso Pasivo
            </p>
        </div>
        <br>
        <p>Creemos en el equilibrio entre el trabajo y la vida personal. Los consultores de SOLAR TRUST ENERGY obtienen ingresos de
            los consultores que refieren a la plataforma, pagados por SOLAR TRUST ENERGY, y no reducen la comisión de un consultor.
        </p>
    </div>

    <div class="cuadro2 sexto">
        <div class="title">
            <h2>PARTICIPACIÓN EN EL CAPITAL</h2>
            <p>Invierte en Tu Futuro
            </p>
        </div>
        <br>
        <p>SOLAR TRUST ENERGY ha creado un programa de propiedad de acciones por primera vez en la industria para nuestros
            consultores. Creemos que usted y su familia deben tener la oportunidad de crear riqueza al desempeñar su
            papel en la construcción de una empresa líder mundial en energía limpia.</p>
        <br>
    </div>
    <div class="cuadro103 tercero">

    </div>
    <div class="cuadro104">

    </div>
    <div class="cuadro2 septimo ">
        <div class="title">
            <h2>A PRUEBA DEL FUTURO</h2>
            <p>Innova con nosotros
            </p>
        </div>
        <br>
        <p>La plataforma SOLAR TRUST ENERGY es una tecnología patentada creada para gestionar tus proyectos solares de principio a
            fin. Con propuestas, diseños, contratos, comisiones y cumplimiento de proyectos automatizados ... nunca
            tendrás que preocuparte de que la tecnología sea el cuello de botella para hacer crecer su negocio.
        </p>
    </div>


</div>


<div class="mision">
    <div class="title">
        <h2>MILLONES DE RAZONES. UNA MISIÓN</h2>
        <p>Cada consultor tiene su propia razón por la que ha elegido SOLAR TRUST ENERGY para construir su futuro. Escucha sus
            historias.</p>
    </div>

    <div class="pictures2">
        <div class="card">
            <div class="card10">
                <h3>INDEPENDENCIA FINANCIERA</h3>
                <p>Vea cómo SOLAR TRUST ENERGY le dio a esta mujer emprendedora su máxima seguridad financiera.</p>
            </div>
        </div>

        <div class="card2">

            <div class="card10">
                <h3>LAS CUATRO LIBERTADES</h3>
                <p>Descubre los muchos tipos de Libertad que SOLAR TRUST ENERGY te puede ofrecer.</p>
            </div>
        </div>

        <div class="card3">

            <div class="card10">
                <h3>OPORTUNIDAD VIRTUAL</h3>
                <p>Ver por qué la plataforma SOLAR TRUST ENERGY ofrece un estilo de vida y una comunidad sin precedentes.</p>
            </div>
        </div>

    </div>

</div>

<div class="footer">
    <div class="primeraParte">
        <div class="izquierda">
            <h3>SOLAR TRUST ENERGY</h3>

            <a routerLink="/why">POR QUÉ SOLAR</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/join">UNETE</a>
            <a routerLink="/embajadior">EMBAJADOR</a>

        </div>
        <div class="centro">
            <h3>CONTACTANOS</h3>

            <a href="#">1-866-SOLAR-ENERGY</a>

            <h3>EMAIL</h3>

            <a href="#">customercare@SOLAR TRUST ENERGY.com</a>

        </div>
        <div class="derecha">
            <h3>OBTENER COTIZACION</h3>
            <div class="form">
                <input type="text" placeholder="Escribir Codigo Postal">
                <button (click)="openModal()">Empezar Ahora</button>
            </div>
        </div>
    </div>
    <div class="terceraParte">
        <div class="centro">
            <p>© 2021. All right reserved!</p>

        </div>
    </div>

</div>


<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p class="tituloModal">Felicitaciones, se encuentra en un área privilegiada para el ahorro de energía solar.</p>
        <div class="primeraParteModal">
            <p class="numero">1</p>
            <h3>¿A CUÁNTO ASCIENDE TU FACTURA DE LUZ TÍPICA?</h3>
            <input type="text" placeholder="$0" [(ngModel)]="cotiza.factura" >
        </div>
        <div class="segundaParteModal">
            <p class="numero">2</p>
            <h3>CUÉNTANOS MÁS SOBRE TI</h3>
            <div class="inputs">
                <div class="input">
                    <label>NOMBRE</label>
                    <input type="text" [(ngModel)]="cotiza.nombre">
                </div>
                <div class="input">
                    <label>APELLIDO</label>
                    <input type="text" [(ngModel)]="cotiza.apellido">
                </div>
            </div>
            <div class="inputs">
                <div class="input2">
                    <label>CALLE</label>
                    <input type="text" [(ngModel)]="cotiza.calle">
                </div>
                <div class="input3">
                    <label>UNIDAD</label>
                    <input type="text" [(ngModel)]="cotiza.unidad">
                </div>
            </div>
            <div class="inputs">
                <div class="input4">
                    <label>CIUDAD</label>
                    <input type="text" [(ngModel)]="cotiza.ciudad">
                </div>
                <div class="input3">
                    <label>ESTADO</label>
                    <input type="text" [(ngModel)]="cotiza.estado">
                </div>
                <div class="input3">
                    <label>CODIGO POSTAL</label>
                    <input type="text" [(ngModel)]="cotiza.codigopostal">
                </div>
            </div>

            <div class="inputs">
                <div class="input">
                    <label>TELEFONO</label>
                    <input type="text" [(ngModel)]="cotiza.telefono">
                </div>
                <div class="input">
                    <label>EMAIL</label>
                    <input type="text" [(ngModel)]="cotiza.correo">
                </div>
            </div>

            <button *ngIf=" cotiza.factura > 0 &&cotiza.nombre != ''  && cotiza.apellido != '' && cotiza.calle != '' && cotiza.unidad != '' && cotiza.ciudad != '' && cotiza.estado != '' && cotiza.codigopostal != ''  && cotiza.telefono.length >= 9 && cotiza.correo.includes('@') && cotiza.correo.includes('.com')" (click)="enviarCotizacion()"> Enviar Datos</button>
        </div>


    </div>
</div>


<div id="myModal2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closeModal2()">&times;</span>
        <p class="tituloModal">Únete a la revolución energética con SOLAR TRUST ENERGY</p>
        <div class="terceraParteModal">
            <h3>TU INFORMACIÓN</h3>
            <div class="inputs">
                <div class="input">
                    <label>NOMBRE</label>
                    <input type="text" [(ngModel)]="regis.nombre">
                </div>
                <div class="input">
                    <label>APELLIDO</label>
                    <input type="text" [(ngModel)]="regis.apellido">
                </div>
            </div>
            <div class="inputs">
                <div class="input">
                    <label>TELEFONO</label>
                    <input type="text" [(ngModel)]="regis.telefono">
                </div>
                <div class="input">
                    <label>EMAIL</label>
                    <input type="text" [(ngModel)]="regis.correo">
                </div>
                <div class="input">
                    <label>PREFERENCIA DE IDIOMA</label>
                    <select [(ngModel)]="regis.idioma" name="select">
                        <option value="Español">Español</option>
                        <option value="Ingles">Ingles</option>
                    </select>
                </div>
            </div>

            <button
                *ngIf="regis.nombre != ''  && regis.apellido != ''  && regis.idioma != '' && regis.telefono.length >= 9 && regis.correo.includes('@') && regis.correo.includes('.com')"
                (click)="enviarRegistro()"> Enviar Datos</button>
        </div>


    </div>
</div>