/* You can add global styles to this file, and also import other style files */
*{
    font-family: 'KoHo', sans-serif;
    margin: 0;
    padding: 0;
}



.navbar{
    background-color: black;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    .izquierda-derecha{
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
       
        
        .derecha{
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            width: 60%;
            margin-right: 2%;
           

            #menu{
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;

                
                ul{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 100%;
                    padding: 0;
               
                    
                    li{
                        text-decoration: none;
                        list-style: none;
                        margin-left: 1%;
                        margin-right: 1%;
                       

                        a{
                            font-size: 20px;
                            font-weight: 700;
                            text-decoration: none;
                            color: white;
                            transition: all ease .5s;

                            &.selected{
                                color: #49A015;
                            }

                            &:hover{
                                transition: all ease .5s;
                                color: #49A015;
                            }  
                        }

                     

                    }
                }
            }
             
        } 
     
    }


     .primero #menu{
   margin-left: 2%;
}

.primero  #menu ul{
    position:fixed;
    list-style: none;
    width: 100%;
    height: 25%;
    background-color: #38b1dc;
    top: 100px;
    left: -100%;
    z-index: 1;
    transition: all .5s ease;
    
}

.primero  #menu li{
    display: block;
}

.primero #menu li a{
    color: white;
    margin-bottom: 5%;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
  
}


 .primero .social1{
    display: none;
}
.primero .social2{
    display: none;
}

.checkbtn{
   font-size: 30px;
   color: #38b1dc;
   display: none;
}

#check{
   display: none;
}
#check:checked ~ ul{
   left: 0;
}
    
}



.tips{
    display: flex;
    background-color: transparent;
    flex-direction: row;
    justify-content: center;
    align-items: center;

 .fondo,.fondo2,.fondo3{
     display:flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100%;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(assets/img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5%;

    h2{
        font-weight: 400;
        font-size: 50px;
        color: white;
        padding-top:5% ;
        padding-bottom: 5%;
    }

    p{
        color: white;
        font-size: 25px;
    }
    .contenidoTips{
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .mensaje{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            .divBoton{
                width: 100%;
                display: flex;
                flex-direction: row;
                margin-top: 7%;
                justify-content: flex-start;
                .boton{
                    width: 20%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    background-color: #49A015;
                    padding: 2%;
                    border-radius: 50px;
                    cursor: pointer;
    
                    p{
                        font-size: 18px;
                        font-weight: 600;
                        color: white;
    
                    &.flecha{
                        font-size: 20px;
                        font-weight: 400;
                    }    
    
                    }  
                }
                :hover{
                    background-color: white;
                    transition: ease all 0.5s; 
    
                    p{
                       color: #49A015;
    
                    &.flecha{
                        color: #49A015;
                    }    
    
                    }
                } 
            }

            img{
                width: 30%;
            }
        }
    }

 }   
 .fondo2{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(assets/img/banner2.jpg);
 }
 .fondo3{
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.3)),url(assets/img/banner3.jpg);
 }

}




.providers{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #F9F9F9;
    .title{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        h2{
            margin-top: 5%;
            font-size: 25px;
            text-align: center;
        }
        p{
            margin-top: 2%;
            font-size: 30px;
            color: gray;
            text-align: center;
        }
    }

    .pictures{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
        .card,.card2,.card3{
            padding: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 40%;
            height: 350px;
            margin-left: 1%;
            margin-right: 1%;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px;
            border-radius: 10px;

            .subtitle{
                text-align: center;
                width: 100%;
                margin-top: 5%;
                font-weight: 400;
                color: black;
                font-size: 30px;
                margin-bottom: 5%;
            }

            p{
                width: 80%;
                color: black;
                text-align: center;
                margin-bottom: 5%;
                font-size: 20px;
            }
        }

        .card{
            background-image:linear-gradient(rgba(255,255,255,1),rgba(0,0,0,0.3)),url(assets/img/arboles.jpg);
            background-size: cover;
        }
        .card2{
            background-image:linear-gradient(rgba(255,255,255,1),rgba(0,0,0,0.3)),url(assets/img/playas.jpg);
            background-size: cover;
        }
        .card3{
            background-image:linear-gradient(rgba(255,255,255,1),rgba(0,0,0,0.3)),url(assets/img/panel.jpeg);
            background-size: cover;
        }
       
    }
}



.cuadros{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

.cuadro,.cuadro3,.cuadro4{
    width: 50%;
    height: 1000px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    background-repeat: repeat;
    background-size: cover;

      
}  
.cuadro{
    background-image: url("./assets/img/instalacion.jpg");
    background-position:right ;
}
.cuadro3{
    background-image: url("./assets/img/asesoria.jpg");
    background-position:right ;
}
.cuadro4{
    background-image: url("./assets/img/atencion.jpg");
    background-position:left ;
}


.cuadro2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    padding: 5%;

    .title{

        h2{
            margin-bottom: 5%;
        }
        p{
            font-size: 30px;
            margin-top: 2%;
            margin-bottom: 2%;
        }        
    }
    
    p{
        font-size: 20px;
    }

    .pasos{
        display: flex;
        width: 90%;
    .paso{
        background-color: #49A015;
        padding: 1%;
        border-radius: 5px;
        color: white;
        margin-right: 1%;
    }    
    }
}  

}

.data{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #49A015;
   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 5%;
        .fact{
            padding: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 25%;
            margin-left: 1%;
            margin-right: 1%;
            border-radius: 10px;
            .subtitle{
                text-align: center;
                width: 100%;
                margin-top: 5%;
                font-weight: 400;
                color: white;
                font-size: 30px;
                margin-bottom: 5%;
            }

            p{
                width: 50%;
                color: white;
                text-align: center;
                margin-bottom: 5%;
                font-size: 20px;
            }
        }
       
    
}


.mision{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    background-color:white;
    .title{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        h2{
            margin-top: 5%;
            font-size: 25px;
            text-align: center;
        }
        p{
            margin-top: 2%;
            font-size: 30px;
            color: gray;
            text-align: center;
        }
    }

    .pictures{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 10%;
        .card,.card2,.card3{
            padding: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 450px;
            height: 350px;
            margin-left: 1%;
            margin-right: 1%;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px;
            border-radius: 10px;
            position: relative;


            p{
                width: 80%;
                color: black;
                text-align: center;
                margin-bottom: 5%;
                font-size: 20px;
            }

            .card10{
                position: absolute;
                top: 320px;
                margin: auto;
                padding: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 70%;
                background-color: white;
                height: auto;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
                border-radius: 10px;

                h3{
                    margin-bottom: 2%;
                }
            }
        }

        

       
    }
}

.ceo{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 5%;
    background-image:linear-gradient(#f8f8f8,#fff);
    .title{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
        h2{
            margin-top: 5%;
            font-size: 25px;
            text-align: center;
        }
        p{
            margin-top: 2%;
            font-size: 30px;
            color: gray;
            text-align: center;
        }
    }

    .pictures{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
        .card{
            padding: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 1300px;
            height: 650px;
            margin-left: 1%;
            margin-right: 1%;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px;
            border-radius: 10px;
            position: relative;
            background-color: white;

            .card10{
                position: absolute;
                left: 1100px;
                top: 200px;
                margin: auto;
                padding: 5%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 10%;
                background-color: white;
                height: auto;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px;
                border-radius: 10px;

                h3{
                    margin-bottom: 5%;
                }

                p{
                    text-align: left
                };
            }
        }

        

       
    }
}


.footer{
    display: flex;
    flex-direction: column;
    background-color: #4F4F4F;
    justify-content: center;
    align-items: center;

.primeraParte{
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
   

.izquierda{
    width: 30%;
    display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            border-bottom: 1px solid gray;


            .social{
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                width: 15%;
                a{
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    justify-content: center;
                    img{
                        width: 40%;
                    }  
    
                }
                
            }
}

.centro{ 
    width: 30%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid gray;

        img{
            width: 75%;
            margin-left: 0%;
        }  
}

.derecha{
    width: 30%;
    display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: flex-end;
            border-bottom: 1px solid gray;

            .social{
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: center;
                width: 25%;
                img{
                    width: 60%;
                }  

            }
}

}


.segundaParte{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
    position: relative;

    a{  
        &.terminos{
        position: absolute;
        left: 0;
        text-decoration: none;
        color: white;   
        }
    }
.centro{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    .social{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 15%;
            margin-bottom: 5%;
        }
        a{
            text-decoration: none;
            color: white;
            font-size: 12px;
            font-weight: 300;
        }
    }
      
}    
}

.terceraParte{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

 p{
     color: white;
     margin-top: 10%;
    margin-bottom: 10%;
    font-size: 12px;
 }   
}

} 