<div class="navbar">
    <div class="izquierda-derecha">
        <div class="izquierda">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/">CASA</a></li>
                    <li><a routerLink="/why">POR QUÉ SOLAR</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a class="selected" routerLink="/embajador">EMBAJADOR</a></li>
                </ul>
            </div>
        </div>
        <div class="derecha">
            <input type="text" placeholder="Escribir Codigo Postal">
            <button id="myBtn" (click)="openModal()">Obtener Cotizacion</button>
        </div>
    </div>
</div>

<div height="1000">
    <div class="carousel-cell tips">
        <div class="fondo7 ">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>CONVIÉRTETE EN UN EMBAJADOR SOLAR</h2>
                    <p>Recibe dinero por compartir los beneficios de la energía solar. Y ayúdanos a cambiar el mundo
                    </p>
                    <div class="divBoton">
                        <div (click)="openModal2()" class="boton">
                            <p>Registro gratuito</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="providers">
    <div class="title">
        <h2>TODOS GANAN</h2>
        <p>Cada vez que refieras a un propietario que se convierta en solar con SOLAR TRUST ENERGY, ganarás $ 1,000. Tu
            recomendación
            te ahorrará miles de dólares en costos de energía. Y el mundo ... bueno, digamos que el mundo también es más
            feliz.</p>
    </div>

</div>


<div class="cuadros">
    <div class="cuadro0 ">
        <img src="assets/img/guadalupe.jpeg" alt="">
        <h3>TU CONSULTOR SOLAR</h3>
        <h2>GUADALUPE PITALUA</h2>
    </div>
    <div class="cuadro2 ">
        <div class="title">
            <h2>ESTAMOS AQUI PARA TI</h2>
            <p>Únete a Nosotros Ahora
            </p>
        </div>
        <br>
        <br>
        <p>Es literalmente así de fácil ayudar a limpiar nuestro medio ambiente. Y cuantas más personas recomiendes, más
            posibilidades tendrás de obtener cheques de $ 1,000 depositados directamente en tu cuenta bancaria.
        </p>
        <br>
        <p><b>Guadalupe Pitalua</b> está aquí para apoyarte como embajador y trabajará directamente con tus clientes
            para instalar energía solar. ¡Tu y tus clientes están en buenas manos con Guadalupe!</p>

        <div class="divBoton">
            <div (click)="algo2()" class="boton">
                <p>Registro gratuito</p>
            </div>
        </div>
    </div>
    <div class="cuadro2 cuarto ">
        <div class="title">
            <h2>TRES SENCILLOS PASOS</h2>
            <p>Cómo Funciona
            </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">1</p>
            <p>Regístrate gratis. Si es realmente gratis. </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">2</p>
            <p>Habla con un propietario sobre los beneficios de la energía solar y obtén una copia de su factura de
                electricidad. </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">3</p>
            <p>Comparte la factura de la luz con SOLAR TRUST ENERGY. Recibe $ 1,000 cuando se instale el sistema.
            </p>
        </div>
        <br>
        <br>
    </div>
    <div class="cuadro10 tercero">

    </div>

</div>

<div class="footer">
    <div class="primeraParte">
        <div class="izquierda">
            <h3>SOLAR TRUST ENERGY</h3>

            <a routerLink="/why">POR QUÉ SOLAR</a>
            <a routerLink="/faq">FAQ</a>
            <a routerLink="/join">UNETE</a>
            <a routerLink="/embajadior">EMBAJADOR</a>

        </div>
        <div class="centro">
            <h3>CONTACTANOS</h3>

            <a href="#">1-866-SOLAR-ENERGY</a>

            <h3>EMAIL</h3>

            <a href="#">customercare@SOLAR TRUST ENERGY.com</a>

        </div>
        <div class="derecha">
            <h3>OBTENER COTIZACION</h3>
            <div class="form">
                <input type="text" placeholder="Escribir Codigo Postal">
                <button (click)="openModal()">Empezar Ahora</button>
            </div>
        </div>
    </div>
    <div class="terceraParte">
        <div class="centro">
            <p>© 2021. All right reserved!</p>

        </div>
    </div>

</div>

<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <p class="tituloModal">Felicitaciones, se encuentra en un área privilegiada para el ahorro de energía solar.</p>
        <div class="primeraParteModal">
            <p class="numero">1</p>
            <h3>¿A CUÁNTO ASCIENDE TU FACTURA DE LUZ TÍPICA?</h3>
            <input type="text" placeholder="$0" [(ngModel)]="cotiza.factura">
        </div>
        <div class="segundaParteModal">
            <p class="numero">2</p>
            <h3>CUÉNTANOS MÁS SOBRE TI</h3>
            <div class="inputs">
                <div class="input">
                    <label>NOMBRE</label>
                    <input type="text" [(ngModel)]="cotiza.nombre">
                </div>
                <div class="input">
                    <label>APELLIDO</label>
                    <input type="text" [(ngModel)]="cotiza.apellido">
                </div>
            </div>
            <div class="inputs">
                <div class="input2">
                    <label>CALLE</label>
                    <input type="text" [(ngModel)]="cotiza.calle">
                </div>
                <div class="input3">
                    <label>UNIDAD</label>
                    <input type="text" [(ngModel)]="cotiza.unidad">
                </div>
            </div>
            <div class="inputs">
                <div class="input4">
                    <label>CIUDAD</label>
                    <input type="text" [(ngModel)]="cotiza.ciudad">
                </div>
                <div class="input3">
                    <label>ESTADO</label>
                    <input type="text" [(ngModel)]="cotiza.estado">
                </div>
                <div class="input3">
                    <label>CODIGO POSTAL</label>
                    <input type="text" [(ngModel)]="cotiza.codigopostal">
                </div>
            </div>

            <div class="inputs">
                <div class="input">
                    <label>TELEFONO</label>
                    <input type="text" [(ngModel)]="cotiza.telefono">
                </div>
                <div class="input">
                    <label>EMAIL</label>
                    <input type="text" [(ngModel)]="cotiza.correo">
                </div>
            </div>

            <button
                *ngIf=" cotiza.factura > 0 &&cotiza.nombre != ''  && cotiza.apellido != '' && cotiza.calle != '' && cotiza.unidad != '' && cotiza.ciudad != '' && cotiza.estado != '' && cotiza.codigopostal != ''  && cotiza.telefono.length >= 9 && cotiza.correo.includes('@') && cotiza.correo.includes('.com')"
                (click)="enviarCotizacion()"> Enviar Datos</button>
        </div>


    </div>
</div>


<div id="myModal2" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close" (click)="closeModal2()">&times;</span>
        <p class="tituloModal">Conviértete en un Embajador SOLAR TRUST ENERGY</p>
        <div class="terceraParteModal">
            <h3>TU INFORMACIÓN</h3>
            <div class="inputs">
                <div class="input">
                    <label>NOMBRE</label>
                    <input type="text" [(ngModel)]="regis.nombre">
                </div>
                <div class="input">
                    <label>APELLIDO</label>
                    <input type="text" [(ngModel)]="regis.apellido">
                </div>
            </div>
            <div class="inputs">
                <div class="input">
                    <label>TELEFONO</label>
                    <input type="text" [(ngModel)]="regis.telefono">
                </div>
                <div class="input">
                    <label>EMAIL</label>
                    <input type="text" [(ngModel)]="regis.correo">
                </div>
                <div class="input">
                    <label>PREFERENCIA DE IDIOMA</label>
                    <select [(ngModel)]="regis.idioma" name="select">
                        <option value="Español">Español</option>
                        <option value="Ingles">Ingles</option>
                    </select>
                </div>
            </div>

            <button
                *ngIf="regis.nombre != ''  && regis.apellido != ''  && regis.idioma != '' && regis.telefono.length >= 9 && regis.correo.includes('@') && regis.correo.includes('.com')"
                (click)="enviarRegistro()"> Enviar Datos</button>
        </div>


    </div>
</div>