<div class="navbar">
    <div class="izquierda-derecha">
        <div class="derecha">
            <div id="menu">
                <input type="checkbox" id="check">

                <label for="check" class="checkbtn">
                    <fa-icon [icon]="faBars"></fa-icon>
                </label>
                <ul>
                    <li><a routerLink="/home">HOME</a></li>
                    <li><a routerLink="/why">POR QUÉ SOLAR</a></li>
                    <li><a routerLink="/faq">FAQ</a></li>
                    <li><a class="selected" routerLink="/embajador">EMBAJADOR</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<carousel [cellsToShow]="1" [height]="resolucion" [autoplay]="true" [autoplayInterval]="3000" [loop]="true"
    [arrows]="false">
    <div class="carousel-cell tips">
        <div class="fondo7 ">
            <div class="contenidoTips">
                <div class="mensaje">
                    <h2>CONVIÉRTETE EN UN EMBAJADOR SOLAR</h2>
                    <p>Recibe dinero por compartir los beneficios de la energía solar. Y ayúdanos a cambiar el mundo
                    </p>
                    <div class="divBoton">
                        <div routerLink="/registro" routerLink="/registro" class="boton">
                            <p>Registro gratuito</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</carousel>

<div class="providers">
    <div class="title">
        <h2>TODOS GANAN</h2>
        <p>Cada vez que refieras a un propietario que se convierta en solar con Powur, ganarás $ 1,000. Tu recomendación
            te ahorrará miles de dólares en costos de energía. Y el mundo ... bueno, digamos que el mundo también es más
            feliz.</p>
    </div>

</div>


<div class="cuadros">
    <div class="cuadro ">

    </div>
    <div class="cuadro2 ">
        <div class="title">
            <h2>ESTAMOS AQUI PARA TI</h2>
            <p>Únete a Nosotros Ahora
            </p>
        </div>
        <br>
        <br>
        <p>Es literalmente así de fácil ayudar a limpiar nuestro medio ambiente. Y cuantas más personas recomiendes, más posibilidades tendrás de obtener cheques de $ 1,000 depositados directamente en tu cuenta bancaria.
        </p>
        <br>
        <p><b>Guadalupe Pitalua</b>  está aquí para apoyarte como embajador y trabajará directamente con tus clientes para instalar energía solar. ¡Tu y tus clientes están en buenas manos con Guadalupe!</p>
    </div>
    <div class="cuadro2 cuarto ">
        <div class="title">
            <h2>TRES SENCILLOS PASOS</h2>
            <p>Cómo Funciona
            </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">1</p>
            <p>Regístrate gratis. Si es realmente gratis. </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">2</p>
            <p>Habla con un propietario sobre los beneficios de la energía solar y obtén una copia de su factura de electricidad. </p>
        </div>
        <br>
        <br>
        <div class="pasos">
            <p class="paso">3</p>
            <p>Comparte la factura de la luz con Powur. Recibe $ 1,000 cuando se instale el sistema.
            </p>
        </div>
        <br>
        <br>
    </div>
    <div class="cuadro3 tercero">

    </div>

</div>

<div class="footer">
    <div class="terceraParte">
        <div class="centro">
            <p>© 2021. All right reserved!</p>

        </div>
    </div>

</div>